@{
    ViewData["Title"] = "Пользователи";
}

@model AdminPanel.Domain.Entities.User[]

<div class="outer-div">
    <div class="title">
        <h1>Список всех новостей</h1>
    </div>
    <div class="buttons-bar">
        <!--TODO path via tag helper -->
        <a class="btn btn-primary" href="/news/edit/">Добавить</a>
    </div>
</div>
<div id="newsGrid" class="ag-theme-alpine" style="height: calc(100vh - 250px)"></div>
<script src="~/lib/agGrid/agGrid-locale/locale.ru.js"></script>
<script src="~/lib/agGrid/agGrid-bones/ag-grid-enterprise.min.js"></script>
<script src="~/lib/agGrid/agGrid-bones/agGrid-bones.js"></script>
<script src="~/lib/moment/moment-with-locales.min.js"></script>
<script type="text/javascript">
    const columnDefs = [
        { headerName: 'Заголовок', field: "Title", sort: "Desc" },
        { headerName: 'Контент', field: "Content" },
        { headerName: 'Статус', field: "IsPublished" },
        { headerName: 'Авторы', field: "Author" }, 
        { headerName: 'Просмотры', field: "Views" },

        { headerName: 'Дата создания', field: "dateCreated", valueGetter: (params)=>{return AdminPanel.Utils.dateFormatter(params.data.dateCreated)}},
        { headerName: 'Дата обновления', field: "dateUpdated", valueGetter: (params)=>{return AdminPanel.Utils.dateFormatter(params.data.dateUpdated)}}
    ];
    var localeText = AG_GRID_LOCALE_RU;
    gridInit('@Url.RouteUrl(new { controller = "News", action = "GetData" })', columnDefs, 'newsGrid');
</script>
